.movie {
    &-image {
        img {
            max-width: 100%;
            display: block;
        }
    }
    &-genres {
        font-style: italic;
    }
    &-description,
    &-genres {
        margin-bottom: 20px;
    }
    &-recommendations {
        margin-top: 60px;
    }
}