.movie-card {
    margin-bottom: 20px;
    height: 460px;
    &__image {
        height: 397px;
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    }
    &__title {
        margin-bottom: 5px;
        color: #222;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
